*{
    margin: 0;
    padding: 0;
    border: 0;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    background-color: transparent !important;
}
.ralewayFont{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.bold{
    font-weight: 700;
}
.logoSize{
    width: 40px;
}
.fitCard{
    object-fit: cover;
    height: 140px;
}
a{
    text-decoration: none;
}
.tooltip-inner{
    background-color: white;
    color: black;
}